node_modules/
.env

# Database files
database/*.db
database/*.db-shm
database/*.db-wal
database.sqlite

# Uploads
public/uploads/*.jpg
public/uploads/*.png
public/uploads/*.jpeg
public/uploads/*.webp
!public/uploads/default.png